@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    /* -webkit-box-shadow: 0 0 0 30px transparent inset !important; */
}
